.star-rating {
 
    font-size: 1em;
    color: #ffc107;
  
  
  }


  span{
    border:5 solid black !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color:  #0f1111 !important;
}